---
server.publicBaseUrl: "https://{{ kibana_domain }}"
server.ssl.enabled: false
server.name: "{{ inventory_hostname }}"
server.host: "0.0.0.0"
server.port: {{ kibana_cont_port }}
elasticsearch.hosts: ["http://{{ kibana_es_lb_addr }}:{{ kibana_es_lb_port }}"]
# XPack
xpack.security.enabled: false
xpack.reporting.enabled: false
# logging
logging.quiet: false
logging.silent: false
logging.verbose: false
